body {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  line-height: var(--line-height-150);
  font-weight: var(--font-weight-regular);
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-secondary);
  line-height: var(--line-height-120);
  font-weight: var(--font-weight-bold);
}

h1,
.h1 {
  font-size: var(--font-size-3xl);
}

h2,
.h2 {
  font-size: var(--font-size-2xl);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
}

h5,
.h5 {
  font-size: var(--font-size-md);
}

h6,
.h6 {
  font-size: var(--font-size-sm);
}
