.button {
  --button-padding: var(--space-2) var(--space-3);
  --button-border-radius: var(--radius-md);
  --button-gap: var(--space-2);

  background: none;
  border: none;
  color: inherit;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: background 0.3s ease;
  gap: var(--button-gap);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
}

.button:focus-visible {
  box-shadow: 0 0 0 2px var(--color-ring);
}

.button-primary {
  background: var(--color-primary);
  color: var(--color-primary-foreground);
}

.button-primary:hover {
  background: oklch(from var(--color-primary) calc(l - 0.02) c h);
  color: oklch(from var(--color-primary-foreground) calc(l * 1.1) c h);
}

.button-primary:active {
  background: oklch(from var(--color-primary) calc(l - 0.04) c h);
  color: oklch(from var(--color-primary-foreground) calc(l * 1.2) c h);
}

.button-secondary {
  background: var(--color-secondary);
  color: var(--color-secondary-foreground);
}

.button-secondary:hover {
  background: oklch(from var(--color-secondary) calc(l - 0.02) c h);
  color: oklch(from var(--color-secondary-foreground) calc(l * 1.1) c h);
}