.button {
  --button-padding: var(--space-2) var(--space-3);
  --button-border-radius: var(--radius-md);
  --button-gap: var(--space-2);
  --button-background: none;
  --button-color: inherit;
  --button-border: none;

  background: var(--button-background);
  color: var(--button-color);
  border: var(--button-border);
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease;
  gap: var(--button-gap);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
}

.button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* ** Accessability */

.button:focus-visible {
  box-shadow: 0 0 0 2px var(--color-ring);
}

/* ** Sizes */

.button-small {
  --button-padding: var(--space-1) var(--space-2);
}

.button-large {
  --button-padding: var(--space-3) var(--space-4);
}

/* ** Variants */

.button-primary {
  --button-background: var(--color-primary);
  --button-color: var(--color-primary-foreground);
}

.button-primary:hover {
  --button-background: var(--color-primary-hover);
}

.button-primary:active {
  --button-background: var(--color-primary-active);
}

.button-secondary {
  --button-background: var(--color-secondary);
  --button-color: var(--color-secondary-foreground);
}

.button-secondary:hover {
  --button-background: var(--color-secondary-hover);
}

.button-secondary:active {
  --button-background: var(--color-secondary-active);
}

.button-outline {
  --button-border: 1px solid var(--color-secondary);
}

.button-outline:hover {
  --button-border: 1px solid var(--color-primary);
  --button-color: var(--color-primary);
}
